@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap');

$font-inter: 'Inter', sans-serif;
$font-opensans: 'Open Sans', sans-serif;

$green: #4169e1;
$grey: #EFEFEF;
$black: #091212;
$white: #fff;

$r_mob_320: 320px;
$r_mob_360: 360px;
$r_mob_400: 400px;
$r_mob_500: 500px;
$r_mob_600: 600px;
$r_tab: 768px;
$r_tab_900: 900px;
$r_desk: 1000px;
$r_desk_1120: 1120px;
$r_desk_hd: 1200px;
$r_desk_1280: 1280px;
$r_desk_1350: 1350px;
$r_desk_1450: 1450px;
$r_desk_full_1750: 1750px;

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	font-family: $font-opensans;
	font-weight: 600;
	font-size: 18px;
}

ul, li {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.visualy-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 0;
	height: 0;
	margin: -1px;
}

.section-title {
	font-family: $font-opensans;
	font-weight: 700;
	font-size: 44px;
	line-height: 60px;
}

.container {
	max-width: 1220px;
	padding: 0px 15px;
	margin: 0 auto;
	box-sizing: content-box;
}

.page {
	flex: 1 1 auto;
}

.header {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	z-index: 20;
	&-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&-menu {
		margin-top: 34px;	 
	}

	&-menu__list {
		display: flex;
		gap: 40px;
	}

	&-menu__link {
		color: $white;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
	}

	&-tel {
		border-radius: 26px;
		position: relative;
		background-color: $black;
		padding: 10px;
		text-align: center;
		width: 300px;
	}

	&-tel__link {
		color: $white;
	}

	&-tel__link::before {
		width: 24px;
		height: 24px;
		content: '';
		background: url('../icons/telefon.svg');
		background-repeat: no-repeat;
		position: absolute;
		top: 7px;
		left: 43px;
	}
}

.page-main {
	background-color: $green;
	position: relative;
	&__content {
		padding: 185px 0 152px 0;
		position: relative;
		z-index: 30;
		color: $white;
		width: 565px;
		&-title {
			display: block;
			font-family: $font-inter;
			font-size: 52px;
			font-weight: 800;
			line-height: 63px;
		}
		&-text {
			display: block;
			margin: 0;
			width: 400px;
			font-family: $font-inter;
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
		}

		&-text span {
			font-weight: 800;
		}
	}
	&__cover {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 960px;
	}
	&__img {
		width: 100%;
	}
}

/*SERVICES*/
.services {
	margin-top: 100px;
	&-subtitle {
		font-family: $font-opensans;
		font-weight: 400;
		font-size: 24px;
		line-height: 33px;
		margin-bottom: 37px;
	}

	&-card__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	&-card__item {
		background-color: $grey;
		padding: 30px;
		height: 268px;
		&-content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		&-link {
			color: $black;
			display: block;
			width: 270px;
			font-family: $font-opensans;
			font-weight: 600;
			font-size: 24px;
			line-height: 34px;
		}
	}

	&-card__item:nth-child(8) {
		grid-column: 2/4;
	}

	&-link {
		width: 500px;
	}
}





.footer {
	width: 100%;
	background-color: #4169e1;
}

